body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-primary {
  border-radius: 0;
}

.btn-secondary {
  border: 0;
  background-color: transparent;
  color: grey;
}

.btn-secondary:hover {
  background-color: transparent;
  color: rgb(43, 43, 43);
}

.modal-content {
  border-radius: 0;
}

@import 'bootstrap/dist/css/bootstrap.css';
