.item-card {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  min-height: 10rem;
}

.item-card .image {
  height: 10rem;
}

.item-card .detail {
  margin-left: 3rem;
}

.item-card .item-name {
  font-weight: 600;
}
